.loading {
  background: url('../../images/loading.svg') no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 20em;
  height: 20em;
  margin: 13vw auto;
}

@media (max-width: 875px) {
  .loading {
    font-size: 10pt;
  }
}

@media (min-width: 2000px) {
  .loading {
    font-size: 20pt;
  }
}