%btn {
  width: 12em;
  height: 2em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0.5em;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  background-color: #474d72;
  color: white;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .8s;
  &:active, &:focus {
    outline: none;
    background-color: #18182f;
  }
  &:hover, &:target {
    background-color: #18182f;
  }
}

.log-in-btn {
  @extend %btn
}

.sign-in-btn {
  @extend %btn
}

.submit-btn {
  @extend %btn
}

@media (min-width: 2000px) {
  .sign-in-btn {
    font-size: 30px;
  }

  .log-in-btn {
    font-size: 30px;
  }

  .submit-btn {
    font-size: 30px;
  }
}